<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Css flexbox card design</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <main>
      <div class="SEDANS">
        <img src="sedans.svg" alt="SEDANS" width="64" height="40" /><br />
        <br />
        <h2>SEDANS</h2>
        <br />
        <p>
          <br />
          Choose a sedan for its affordability and excellent fuel economy. Ideal
          for cruising in the city or on your next road trip.
        </p>
        <button style="color: hsl(31, 77%, 52%)">Learn More</button>
      </div>

      <div class="SUVS">
        <img src="suvs.svg" alt=" SUVs" width="64" height="40" />
        <br />
        <br />
        <h2>SUVS</h2>
        <br />
        <p>
          <br />
          Take an SUV for its spacious interior, power and versatility. Perfect
          for your next family vacation and off-road adventures.
        </p>
        <button style="color: hsl(184, 100%, 22%)">Learn More</button>
      </div>

      <div class="LUXURY">
        <img src="luxury.svg" alt="" width="64" height="40" /><br />
        <br />
        <h2>LUXURY</h2>
        <br />
        <p>
          <br />
          Cruise in the best car brands without the bloated prices. Enjoy the
          enhance Comfort of a luxury rental and arrive in style.
        </p>
        <button style="color: hsl(179, 100%, 13%)">Learn More</button>
      </div>

      <p class="link">
        <a href="grid.html"> GRID BOX LINK</a>
      </p>
    </main>
  </body>
</html>
